.frontpage {
	h2 {
		border-bottom: 1px solid $hr-border;
	}

	.features {
		@media (min-width: $screen-sm-min) {
			columns: 2;
			column-gap: 8rem;
		}

		margin-top: $line-height-computed; /* same as default h3 */

		h3:first-child {
			margin-top: 0; /* moved to container element */
		}
	}
}
