$fa-font-path: "fonts";

@import 'font-awesome';
@import 'bootstrap';
@import 'hljs-github';
@import 'frontpage';

main {
	padding-bottom: 3rem; // to get some space between text and bottom of window.
}

.rules-table {
	.set {
		width: 5%;
	}

	.name {
		width: 35%;
	}

	.summary {
		width: 60%;
	}
}

.inline-validation {
	@extend pre;

	pre {
		border: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.markup {
	}

	.messages {
		border-top: 1px solid $pre-border-color;
		margin-top: ($line-height-computed - 1) / 2;
		padding-top: ($line-height-computed - 1) / 2;

		pre {
			color: $code-color;
		}
	}
}
