<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HTML-validate{% if doc.name %} - {$ doc.name $}{% endif %}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/ico">
		<link rel="stylesheet" href="{$ '/assets/docs.min.css' | assetHash $}">
		{% if tracking %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={$ tracking $}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{$ tracking $}');
		</script>
		{% endif %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">HTML-validate</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usage <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/usage">Gettings started</a></li>
									<li><a href="/usage/elements.html">Elements</a></li>
									<li><a href="/usage/transformers.html">Transfomers</a></li>
									<li><a href="/usage/grunt.html">Grunt</a></li>
									<li><a href="/usage/protractor.html">Protractor</a></li>
								</ul>
							</li>
							<li><a href="/rules">Rules</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dev <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{$ pkg.repository.url $}">Getting the source code</a></li>
									<li><a href="{$ pkg.bugs.url $}">File issue</a></li>
									<li><a href="/dev">Developers guide</a></li>
								</ul>
							</li>
							<li><a href="/changelog">Changelog</a></li>
						</ul>
						<p class="navbar-text navbar-right">{$ pkg.name $}-{$ pkg.version $}</p>
					</div>
				</div>
			</nav>
		</header>

		<main class="container">
			{% block content %}
			{% endblock %}
		</main>

		<script src="{$ '/assets/docs.js' | assetHash $}"></script>
	</body>
</html>
