{% extends "base.template.html" %}

{% block content %}
<div class="jumbotron">
	<h1>HTML-validate</h1>
	<p>Offline HTML5 validator. Validates either a full document or a smaller
		(incomplete) template, e.g. from an AngularJS or React component.</p>
	<p><a class="btn btn-primary btn-lg" href="usage">Learn more</a></p>
</div>

<div class="frontpage">
	{$ doc.description | marked $}

	{% for block in doc.blocks %}
		<h2>{$ block.title $}</h2>
		<div class="frontpage {$ block.className $}">
			{$ block.body | marked $}
		</div>
	{% endfor %}
</div>

{% endblock %}
